<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <% @user.each do |user| %>
        <h1 class="text-center text-white">プロフィール</h1>
        <h3 class="text-center text-white">
          <%= user.name %></h3>
          <h3 class="text-center text-white">
            <%= user.email %></h3>



        </div>
        </div>
        <% end %>
        </div>
        </div>
