.btn-black {
  color: #000000;
  border: 1px solid #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #000000;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
  width: 100vw;
  height: 100vh;
  background-image: image-url("pier-569314_1920.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.form-title {
  height: 20px;
  width: 200px;

}

.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
      font-size: 20px;
    }



    .topic-text2 {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

.topic-text {
  padding-right: 20px;
  padding-left: 0px;
  font-size: 40px;
}

.topic-index-icon2 {
  width: 35px;
  height: 30px;
}
