.form-control {
  height: 45px;
}

.form-control2 {
  width: 180px;
  height: 45px;
}

.form-control3 {
  width: 30px;
  height: 30px;
}

.form-control4 {
  width: 200px;
  height: 200px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url("lens-490806_1920.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.users-new-container2 {
  padding-top: 110px;

  .form-group {
    margin-bottom: 20px;
  }
}

.users-new-container3 {
  padding-top: 0px;
}

.topic-author2 {
  padding-right: 0px;
  padding-left: 275px;
}
